.form-container {
  --tw-bg-opacity: 1;
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
  display: flex;
  flex-direction: column;
  max-width: 56rem;
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  width: 100%;
  height: 40rem;
}

.form-container__bg {
  flex-shrink: 0;
  height: 2.5rem;
  position: sticky;
  max-width: inherit;
}

.form-container__bg_top {
  top: 0px;
  background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

.form-container__bg_bottom {
  bottom: 0px;
  background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}

.comment {
  border-radius: 0.5rem;
  border-width: 1px;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  overflow-wrap: break-word;
  width: 20rem;
}

.comment__author {
  display: flex;
  justify-content: space-between;
}

.comment__date {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.comment__reply {
  --tw-bg-opacity: 1;
  background-color: rgba(254, 243, 199, var(--tw-bg-opacity));
  border-radius: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.anime-header {
  --tw-bg-opacity: 1;
  background-color: rgba(31, 41, 55, var(--tw-bg-opacity));
  border-radius: 0.375rem;
  display: flex;
  overflow: hidden;
  --tw-text-opacity: 1;
  color: rgba(243, 244, 246, var(--tw-text-opacity));
}

.anime-header__content-container {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
}

.anime__image {
  background-position: center;
  background-size: cover;
  height: 20rem;
  max-width: 32rem;
  width: 100%;
}

@media (min-width: 1280px) {
  .anime__image {
    max-width: 36rem;
  }
}

.anime__title-container {
  display: flex;
  justify-content: space-between;
}

.anime__title {
  font-size: 2.25rem;
  line-height: 2.5rem;
  margin-bottom: 1rem;
}

.anime__info {
  margin-bottom: 0.75rem;
  --tw-text-opacity: 1;
  color: rgba(209, 213, 219, var(--tw-text-opacity));
}

.anime__info_big {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-right: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(243, 244, 246, var(--tw-text-opacity));
  font-weight: bolder;
}

.anime__btn {
  --tw-border-opacity: 1;
  border-color: rgba(251, 191, 36, var(--tw-border-opacity));
  border-radius: 0.75rem;
  border-width: 1px;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  --tw-text-opacity: 1;
  color: rgba(243, 244, 246, var(--tw-text-opacity));
}

.anime__btn_first {
  margin-right: 0.75rem;
}

.anime__comment-link {
  margin-left: auto;
  --tw-text-opacity: 1;
  color: rgba(243, 244, 246, var(--tw-text-opacity));
}

.synopsis {
  --tw-bg-opacity: 1;
  background-color: rgba(229, 231, 235, var(--tw-bg-opacity));
  border-radius: 0.375rem;
  margin-top: 0.75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.synopsis__title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1rem;
}

.synopsis__text {
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0.75rem;
}

.btn-more {
  --tw-bg-opacity: 1;
  background-color: rgba(37, 99, 235, var(--tw-bg-opacity));
  cursor: pointer;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  --tw-text-opacity: 1;
  color: rgba(243, 244, 246, var(--tw-text-opacity));
}

.anime-episodes {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius: 0.375rem;
  margin-top: 0.75rem;
  padding: 2rem;
}

.anime-episodes__title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 1rem;
}

.anime-episodes__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
}

.anime-episodes__item {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 1.75rem;
  margin-bottom: 0.5rem;
  --tw-text-opacity: 1;
  color: rgba(37, 99, 235, var(--tw-text-opacity));
}

.anime-card {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  border-radius: 0.5rem;
  overflow: hidden;
  --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.anime-card:hover {
  --tw-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.anime-card {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.anime-card:hover {
  --tw-scale-x: 1.05;
  --tw-scale-y: 1.05;
  --tw-translate-y: -0.5rem;
}

.anime-card {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  min-height: 6rem;
}

.anime-card__container {
  display: grid;
  margin-bottom: 1.5rem;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 3.5rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.anime-card__image {
  height: 14rem;
  -o-object-fit: cover;
     object-fit: cover;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.anime-card__image:hover {
  --tw-scale-x: 1.25;
  --tw-scale-y: 1.25;
}

.anime-card__image {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  transition-duration: 500ms;
  --tw-blur: var(--tw-empty,/*!*/ /*!*/);
  --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
  --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
  --tw-invert: var(--tw-empty,/*!*/ /*!*/);
  --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
  --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.anime-card__image:hover {
  --tw-brightness: brightness(.5);
}

.anime-card__title {
  display: inline-block;
  font-size: 1.125rem;
  line-height: 1.75rem;
  line-height: 1.25;
  margin-bottom: 0.5rem;
}

.anime-card__date {
  font-size: 0.875rem;
  line-height: 1.25rem;
}
