.form-container {
    @apply flex flex-col w-full overflow-y-scroll bg-gray-800 relative overflow-x-hidden;
    height: 40rem;

    &__bg {
        @apply h-10 sticky flex-shrink-0;
        max-width: inherit;


        &_top {
            @apply top-0;
            background: linear-gradient(to bottom, rgb(0, 0, 0), rgba(0, 0, 0, 0));
        }

        &_bottom {
            @apply bottom-0;
            background: linear-gradient(to top, rgb(0, 0, 0), rgba(0, 0, 0, 0));
        }
    }

}

.comment {
    @apply px-5 py-4 border rounded-lg my-4 w-80 mx-2 break-words;

    &__author {
        @apply inline-block text-lg font-bold mr-2;
    }

    &__date {
        @apply text-xs;
    }

    &__reply {
        @apply bg-yellow-100 rounded-lg px-3 py-2;
    }
}